<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationPark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationPark.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Sb</span>
        @if (AppSession.IsLoggedIn)
        {
            <span>Добро пожаловать, @AppSession.UserLogin</span>
        }
        <nav>
            <a asp-action="Index" asp-controller="Home">Главная</a>
            @if (AppSession.IsLoggedIn)
            {
                <a asp-action="Logout" asp-controller="Employees">Выйти</a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Employees">Войти</a>
            }
            <a asp-action="Index" asp-controller="Registration">Регистрация</a>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplicationPark - <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
