@model Employees
@{
    ViewData["Title"] = "Вход";
}

<div class="text-center">
    <h1>Войти на сайт</h1>
</div>

<form method="post" asp-asp-controller="Employees" asp-action="Check">
    <label asp-for="Login">Логин</label>
    <input asp-for="Login" />
    <span asp-asp-validation-for="login"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-asp-validation-for="password"></span>

    <input type="submit" value="Войти" />
</form>