@model Employees
@{
    ViewData["Title"] = "Вход";
}

<div class="text-center">
    <h1>Войти на сайт</h1>
</div>

<form method="post" asp-controller="Employees" asp-action="Check">
    <label asp-for="Login">Логин</label>
    <input asp-for="Login" />
    <span asp-validation-for="Login"></span>

    <label asp-for="Password">Пароль</label>
    <input asp-for="Password" value="@ViewData["PasswordValue"]" />
    @if (ViewData.ContainsKey("PasswordError"))
    {
        <span class="text-danger">@ViewData["PasswordError"]</span>
    }
    <span asp-validation-for="Password"></span>


    <input type="submit" value="Войти" />
</form>
