html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    transition: transform 0.5s; /* Добавляем плавную анимацию для свойства transform */
}

.logo:hover {
    transform: rotate(360deg); /* При наведении, логотип будет вращаться на 360 градусов */
}

nav {
display: flex;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 400px; /* Ограничение максимальной ширины формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px;
    background: #f4f4f4; /* Фон формы */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень вокруг формы */
}

    main label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    main input:not([type="submit"]) {
        width: 100%;
        padding: 10px 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 7px;
    }

        main input:not([type="submit"]):focus {
            border: 1px solid #ff0000;
        }

    main input[type="submit"] {
        width: 100%;
        padding: 10px 0px;
        text-align: center;
        border-radius: 5px;
        border: 0;
        margin-top: 7px;
        background: #45109a;
        font-weight: bold;
        color: azure;
        cursor: pointer;
    }

        main input[type="submit"]:hover {
            background: #400b94;
        }

    main form span {
        color: #ff0000;
        font-weight: bold;
        display: block;
        margin: 5px 0;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}